.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.post-interaction-button {
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 50px;
    border: 0;
    outline: 0;
    background-color: #2d3035;
    color: #fff;
    cursor: pointer;
}
.post-interaction-count {
    display: flex;
    font-weight: bold;
    gap: 0.5rem;
    cursor: pointer;
}
.picture-profile {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    object-fit: cover;
}
