body {
  background-color: #1c1c1c;
  color: #fff;
  font-size: 24px;
  font-family: sans-serif;
  margin: 50px;
}
.card-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
}

.card {
  border: 1px solid #fff;
  padding: 0.75rem;
  transform: translateX(100px);
  opacity: 0;
  transition: 150ms;
}

.card-show {
  transform: translateX(0);
  opacity: 1;
}
